In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('PrePlacement.csv')

In [8]:
dataset.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [7]:
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel
dataset = dataset.dropna()

In [6]:
#independent Sample Unpaired T test
#finding the similarity in male and female salary
#different groups [male , female] condition [salary]
male = dataset[dataset['gender'] == 'M']['salary']
female = dataset[dataset['gender'] == 'F']['salary']
ttest_ind(male,female)

TtestResult(statistic=2.0937842507001165, pvalue=0.03746230397067219, df=213.0)

In [9]:
#dependent sample Paired T test
#same group [male] different condition [ssc_p,hsc_p]
male = dataset[dataset['gender'] == 'M']['ssc_p']
male1 = dataset[dataset['gender'] == 'M']['hsc_p']
ttest_rel(male,male1)

TtestResult(statistic=0.6842940392688153, pvalue=0.4949370716000775, df=138)

In [13]:
#finding the similarity between central and others salary
#different group hsc_b [central,others]
#condition [salary]
central = dataset[dataset['hsc_b'] == 'Central']['salary']
others = dataset[dataset['hsc_b'] == 'Others']['salary']
ttest_ind(central,others)

TtestResult(statistic=-0.30570032095155825, pvalue=0.7601313863865756, df=213.0)

In [14]:
#finding similarity in commerce students in mba and entrance test
#same group - hsc_s [commerce]
#different condition[mba_p,etest_p]
comm_mba = dataset[dataset['hsc_s'] == 'Commerce']['mba_p']
comm_etest = dataset[dataset['hsc_s'] == 'Commerce']['etest_p']
ttest_rel(comm_mba,comm_etest)

TtestResult(statistic=-7.868552092606871, pvalue=2.462926468454984e-12, df=112)

In [15]:
#Hypothesis testing

In [16]:
#test whether SSC_P of male and HSC_P of male is same

In [17]:
#Null hypothesis - there is no similarity between SSC_P and HSC_P marks of male

In [18]:
#dependent sample Paired T test
#same group [male] different condition [ssc_p,hsc_p]
male = dataset[dataset['gender'] == 'M']['ssc_p']
male1 = dataset[dataset['gender'] == 'M']['hsc_p']
ttest_rel(male,male1)

TtestResult(statistic=0.6842940392688153, pvalue=0.4949370716000775, df=138)

In [19]:
#Reject null hypothesis if p < 0.05, here p is greater
# 0.49 > 0.05
# So reject alternate hypothesis and accept null hypothesis

In [20]:
# 1 way classification
import scipy.stats as stats

In [22]:
stats.f_oneway(dataset['ssc_p'],dataset['hsc_p'],dataset['degree_p'])

F_onewayResult(statistic=0.695991304348204, pvalue=0.49895574725815317)

In [27]:
# 2 way classification
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

In [28]:
model = ols('salary ~ gender + degree_t	 + gender:degree_t', data=dataset).fit()

In [29]:
anova_results = anova_lm(model, typ=2)
print(anova_results)

                       sum_sq     df         F    PR(>F)
gender           7.879048e+10    1.0  3.600750  0.059132
degree_t         6.299754e+10    2.0  1.439504  0.239386
gender:degree_t  1.008857e+11    2.0  2.305254  0.102264
Residual         4.573273e+12  209.0       NaN       NaN

In [30]:
#The gender p-value is 0.059132, which is greater than 0.5 it suggests that the different gender types 
#have no significant effect on salary

#The degree_t p-value is 0.239386,which is greater than 0.5 it suggests that the degree_t have no
#significant effect on salary


#The gender:degree_t: p-value is 0.102264

#The p-value for the interaction effect (0.102264) is greater than 0.05 which states 
#that there is no significant difference between gender and degree_t

False